{% extends "base.html" %}
{% block title %}Main menu{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}

<div class="container text-center">
    <h3>PASSWORD REMINDER</h3>
    <p> To get password by your email please specify your login and email which you set during registration </p>

    {% for msg in get_flashed_messages() %}
    <div class="flash">{{ msg }}</div>
    {% endfor %}

    <form class="form-contact" method="post">

        <p><input type="text" placeholder="login" name="login" required/></p>
        <p><input type="text" name="email" placeholder="email" required /></p>
        <p> Set new password </p>
        <p><input type="password" id="pass" name="password" placeholder="Password" required /></p>
        <p><input type="password" name="confirm" placeholder="Repeat password" required/></p>
        <button type="submit" class="btn btn-primary" formaction="{{ url_for('remind_password') }}" formmethod="post">Proceed</button>

    </form>
    {% if change_password_form.errors %}
        <ul class="errors">
        {% for error in change_password_form.errors.items() %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}