{% extends "base.html" %}
{% block title %}Game{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
<p>
    Game
    <a href="{{ url_for('tic_tac_game_change_game', code=1) }}">restart </a>
</p>
<p>
    Game
    <a href="{{ url_for('tic_tac_game_change_game', code=2) }}">leave</a>
</p>

    <div class="container text-center">

        {% if game_render_form == 'game' %}
            {% if not winner %}
                {% for msg in get_flashed_messages() %}
                <div class="flash">{{ msg }}</div>
                {% endfor %}
                <form class="form-contact" method="post" id="game">
                    <h3>TIC TAC STARTED</h3>
                    <p> {{ player_1_name }} plays by "{{ session.get('players_data', {}).get('sym_1', ' ') }}"    VS     {{ player_2_name }} plays by "{{ session.get('players_data', {}).get('sym_2', ' ') }}"</p>
                    <p> TOTAL SCORE </p>
                    <h1>{{ session.get('players_data', {}).get('score_1', 0) }} : {{ session.get('players_data', {}).get('score_2', 0) }}</h1>
                    <div style="display:inline-block">
                        {% if field_table.get('nod_0') %}
                            {{ field_table.get('nod_0') }}</p>
                        {% else %}
                            <p><input type="text" name="nod_0" value="" pattern="[0x]" size="5" /></p>
                        {% endif %}

                        {% if field_table.get('nod_3') %}
                            {{ field_table.get('nod_3') }}</p>
                        {% else %}
                            <input type="text" name="nod_3" value="" pattern="[0x]" size="5" /></p>
                        {% endif %}

                        {% if field_table.get('nod_6') %}
                            {{ field_table.get('nod_6') }}</p>
                        {% else %}
                            <input type="text" name="nod_6" value="" pattern="[0x]" size="5" /></p>
                        {% endif %}
                    </div>
                    <div style="display:inline-block">

                        {% if field_table.get('nod_1') %}
                            {{ field_table.get('nod_1') }}</p>
                        {% else %}
                            <input type="text" name="nod_1" value="" pattern="[0x]" size="5" /></p>
                        {% endif %}

                        {% if field_table.get('nod_4') %}
                            {{ field_table.get('nod_4') }}</p>
                        {% else %}
                            <input type="text" name="nod_4" value="" pattern="[0x]" size="5" /></p>
                        {% endif %}


                        {% if field_table.get('nod_7') %}
                            {{ field_table.get('nod_7') }}</p>
                        {% else %}
                            <input type="text" name="nod_7" value="" pattern="[0x]" size="5" /></p>
                        {% endif %}

                    </div>
                    <div style="display:inline-block">

                        {% if field_table.get('nod_2') %}
                            {{ field_table.get('nod_2') }}</p>
                        {% else %}
                            <input type="text" name="nod_2" value="" pattern="[0x]" size="5" /></p>
                        {% endif %}

                        {% if field_table.get('nod_5') %}
                            {{ field_table.get('nod_5') }}</p>
                        {% else %}
                            <input type="text" name="nod_5" value="" pattern="[0x]" size="5" /></p>
                        {% endif %}

                        {% if field_table.get('nod_8') %}
                            {{ field_table.get('nod_8') }}</p>
                        {% else %}
                            <input type="text" name="nod_8" value="" pattern="[0x]" size="5" /></p>
                        {% endif %}
                    </div>
                    <p><label>Validate your turn: </label><button type="submit" class="btn btn-primary" formmethod="post" formaction="{{ url_for('tic_tac_game_start_game', change_game=0) }}">Proceed</button>
                </form>
            {% else %}
                <form class="form-contact" id="restart">
                    <h3>Congratulations! {{ winner }}</h3>
                    <p> {{ player_1_name }} plays by "{{ session.get('players_data', {}).get('sym_1', ' ') }}"    VS     {{ player_2_name }} plays by "{{ session.get('players_data', {}).get('sym_2', ' ') }}"</p>                    <p> TOTAL SCORE </p>
                    <h1>{{ session.get('players_data', {}).get('score_1', 0) }} : {{ session.get('players_data', {}).get('score_2', 0) }}</h1>
                    <p><label>yes </label> <input type="radio" name="restart" value="yes" checked/></p>
                    <p><label>no  </label> <input type="radio" name="restart" value="no" /></p>
                    <label>Play again? </label><button type="submit" formaction="{{ url_for('tic_tac_game_change_game', code=0) }}">Proceed</button>
                </form>

            {% endif %}
        {% elif game_render_form == 'set_player_names' %}
            <form class="form-contact" method="post" id="player_names">
                <h3>INTRODUCTION</h3>
                <p><label>Player 1: </label> <input type="text" name="player_1_name" value="" required/></p>
                <p><label>Player 2: </label> <input type="text" name="player_2_name" value="" required/></p>
                <label>Play the game: </label><button type="submit" class="btn btn-primary" formmethod="post" formaction="{{ url_for('tic_tac_game_players_introduction') }}">Start</button>
            </form>
        {% endif %}

    </div>
{% endblock %}